[submodule "3rdparty/uxs"]
	path = 3rdparty/uxs
	url = ../uxs.git
[submodule "3rdparty/VulkanMemoryAllocator"]
	path = 3rdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rdparty/D3D12MemoryAllocator"]
	path = 3rdparty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
